.leftSection{

    width: 2000px;
    margin-left: 50px;
    height: 100%;
border-radius: 20px;
background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-bottom: 20px;

}
.rightSection2{
  background-color: rgba(255, 0, 0, 0.315);
    height: 100%;
    width: 500px;
    padding: 10px;
    padding-top: 20px;
margin-left: 2rem;
margin-right: 2rem;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sectionsContainer{
    display: flex;


}
.rightSection2>h5{
    font-size: 30px;

    margin-left: 1rem;
    margin-bottom: 2rem;
}

.whoposted{
    font-size: 1.1rem;
margin-top: 2rem;
    display: inline-block;
    margin-left: 2rem;
font-family: 'Montserrat';
}


@media screen and (max-width: 600px){
    .sectionsContainer{
        display: block;
    }
    .leftSection{
        margin-top: 0rem;
        margin-left: 3rem;
        width: 500px;
        height: 250px;
        padding-top: 0.1rem;
        margin-top: 2rem;
    }
    .rightSection2{
        margin-top: 2rem;
        width: 80%;
        margin-left: 3.5rem;
    }
    .rightSection2>h5{
text-align: center;
    }
}