.commentCard{
    /* border: 2px solid black; */
    display: flex;
    padding: 2rem;
}
.commentCard>p{
 /* border: 2px solid black; */
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.commentCard>.commentUser{
border: 2px  slateblue;
}