.firstBox{

    background-color: white;
display: flex;
padding-bottom: 100px;


}
.secondBox{

    display: flex
}
.thirdBox{

    background-color: #f8d4bc;
    display: flex;
    padding-bottom: 2rem;
}

.firstHeading{
    color:black;
    margin-top: 40px;

    height: 220px;
    width: 400px;
    margin-left: 200px;
    
    font-size: 62px;
    font-family: 'Lato';
    font-weight: 300;
    padding-top: 20px;
    padding-left: 20px;




}
.secondHeading{

    margin-top: 40px;

    height: 220px;
    width: 400px;
    margin-left: 200px;

    font-size: 62px;
    font-family: 'Lato';
    font-weight: 300;
    padding-top: 20px;
    padding-left: 20px;

}
.thirdHeading{
    margin-top: 40px;

    height: 220px;
    width: 400px;
    margin-left: 200px;

    font-size: 62px;
    font-family: 'Lato';
    font-weight: 300;
    padding-top: 20px;
    padding-left: 20px;

}

.firstContent{
   

    width: 400px;
    margin-left: 200px;
    font-size: 24px;
    padding-left: 20px;
padding-top: 20px;
font-family: 'Roboto';

color: #3c3c3c;

}
.secondContent{ 

    width: 400px;
    margin-left: 200px;
    font-size: 24px;
    padding-left: 20px;
padding-top: 20px;
font-family: 'Roboto';

color: #3c3c3c;
}
.thirdContent{
border-radius: 0px;
    width: 400px;
    margin-left: 200px;
    font-size: 24px;
    padding-left: 20px;
padding-top: 20px;
font-family: 'Roboto';

color: #3c3c3c;
}

/*WriterZinga
      Color palette:
      Sky:#CAEBF2
      Carbon:#A9A9A9
      Watermelon:#FF3B3F
      Neutral:#EFEFEF
      */

      .boxContainer{
        margin-top: 2rem;
      }

.firstimg{
    height: 450px;
    width: 600px;
    display: inline-block;

    margin-left: 200px;
    margin-top: 90px;


}

.thirdimage{
    height: 450px;
    width: 600px;
    display: inline-block;

    margin-left: 200px;
    margin-top: 150px;


}


@media screen and (max-width: 600px){
    .firstBox{
        display: block;

    }
    .secondBox{
        display: block
    }
    .thirdBox{
        display: block;
    }

    .firstContent{
        width: 90%;
        margin-left: 1rem;
        margin-top: 0rem;
    }
    .firstHeading{
        margin-left: 2rem; 
        width: 90%;
        margin-left: 1rem;  
    }
    .firstimg{
        width: 90%;
        margin-left: 2rem;
        height: 90%
    }
    
    .secondHeading{
        margin-left: 2rem; 
        width: 90%;
        margin-left: 1rem;  
    }
    .secondContent{
        width: 90%;
        margin-left: 1rem;
        margin-top: 0rem;
    }
    .thirdHeading{
        margin-left: 2rem; 
        width: 90%;
        margin-left: 1rem;  
    }
    .thirdContent{
        width: 90%;
        margin-left: 1rem;
        margin-top: 0rem;
    }
    .thirdimage{
        margin-left: 20px;
        margin-top: 0;
        width: 90%;
        height: 90%;
    }

}